.contaniner-background {
    margin-top:100px;
    background-color: gray;
}

.input-center {
    float:right;
    margin-top: 100px;
    /* justify-content: flex; */
    /* align-items: center; */

    /* margin-top:30px */    
}
.button-positon {
    display:flex;
    justify-content:center;
}

.button-mg {
    margin: 30px;
}
.image-item {
    display:flex;
    justify-content: space-between;
    width:50px;
    height:50px;
    margin : 20px 40px;
    /* margin-left:20px; */

}
.uploadimg{ 
    margin-top: 100px;
}
.color-red {
    background-color:red;
    float: right;
}
.color-yellow {
    background-color:yellow;
}
.image-item__btn-wrapper{
    display:column;
    justify-content:flex-start;
    z-index: 30px;
    ;
}

.imageupload {
    width: 100vw;
    height: 100vh;
}

.imageupload.active {
    width: 100vw;
    height: 100vh;
    background-color:gray;
    opacity: 0.9;

}
.text-div {
    display: flex;
    width: 50%;
    margin-top: 100px;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid black;
    float: right;
}