.contaniner-background {
    margin-top:100px;
    background-color: gray;
}

.input-center {
    float:right;
    margin-top: 100px;
    /* justify-content: flex; */
    /* align-items: center; */

    /* margin-top:30px */    
}
.button-positon {
    display:flex;
    justify-content:center;
}

.button-mg {
    margin: 30px;
}
.image-item {
    display:flex;
    justify-content: space-between;
    width:50px;
    height:50px;
    margin : 20px 40px;
    /* margin-left:20px; */

}
.uploadimg{ 
    margin-top: 100px;
}
.color-red {
    background-color:red;
    float: right;
}
.color-yellow {
    background-color:yellow;
}
.image-item__btn-wrapper{
    display:column;
    justify-content:flex-start;
    z-index: 30px;
    ;
}

.imageupload {
    width: 100vw;
    height: 100vh;
}

.imageupload.active {
    width: 100vw;
    height: 100vh;
    background-color:gray;
    opacity: 0.9;

}
.text-div {
    display: flex;
    width: 50%;
    margin-top: 100px;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid black;
    float: right;
}
.input-tag {
    background: white;
    border: 1px solid #d6d6d6;
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px 5px 0;
  }
  
  .input-tag input {
    border: none;
    width: 100%;
  }
  
  .input-tag__tags {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .input-tag__tags li {
    align-items: center;
    background: #85A3BF;
    border-radius: 2px;
    color: white;
    display: flex;
    font-weight: 300;
    list-style: none;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 5px 10px;
  }
  
  .input-tag__tags li span {
    align-items: center;
    appearance: none;
    background: #333333;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-size: 12px;
    height: 15px;
    justify-content: center;
    line-height: 0;
    margin-left: 8px;
    padding: 0;
    transform: rotate(45deg);
    width: 15px;
  }
  
  .input-tag__tags li.input-tag__tags__input {
    background: none;
    flex-grow: 1;
    padding: 0;
  }
  .input-tag__tags li.input-tag__tags__input {
    background: none;
    flex-grow: 1;
    padding: 0;
  }