.box,
.title {
  width: 70%;
  margin-bottom: 10px;
}

.box {
  background-color: seashell;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 24px;
  height: fit-content;
  margin-bottom: 30px;
}

.form {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input,
.input:focus {
  outline: none;
  border: none;
}

.input {
  border-radius: 10px;
  box-shadow: 0px 0px 1px 1px black;
  width: 50%;
}

.input:focus {
  border-radius: 10px;
  box-shadow: 0px 0px 1px 3px palevioletred;
}

.submit {
  width: 10%;
  box-shadow: 0 0 1px 1px black;
  border-radius: 10px;
  padding: 12px 15px;
  cursor: pointer;
  margin-left: 10px;
}

.submit:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 0px 0px 1px 3px palevioletred;
}
