.frame {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.alarmNumContainer {
  position: absolute;
  display: flex;
  top: 4px;
  left: 18px;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}

.alramNum {
  font-size: 12px;
  color: white;
}

.wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 56px;
  right: 20px;
  width: fit-content;
  height: fit-content;
  min-width: 400px;
  min-height: 200px;
  background-color: #f5eaf0;
  border-radius: 20px;
  box-shadow: 3px 3px 6px 4px rgba(0, 0, 0, 0.199);
}

.item {
  position: relative;
  margin: auto;
  font-size: 18px;
  transition: all 0.1s ease-in-out;
}

.item:hover {
  font-size: 20px;
  font: 700;
}

.wrapper2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
  top: 56px;
  right: -20px;
  width: 170px;
  height: 250px;
  background-color: #f5eaf0;
  border-radius: 20px;
  box-shadow: 3px 3px 6px 4px rgba(0, 0, 0, 0.199);
}

.item2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-self: center;
  margin: auto;
  font-size: 15px;
  transition: all 0.1s ease-in-out;
}

.span {
  font-size: 15px;
}

.span:hover {
  font-size: 17px;
  font: 900;
}

.item3 {
  position: relative;
  display: flex;
  align-items: center;
  justify-self: center;
  margin: auto;
  font-size: 16px;
  color: red;
  transition: all 0.1s ease-in-out;
}

.span:hover {
  font-size: 17px;
  font-weight: 900;
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.icon2 {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  color: red !important;
}
