:root {
  --clr-primary: #fff;
}

.dark-theme {
  --clr-nav: linear-gradient(to right, #282c35, #868097);
  --clr-bcg: #282c35;
  --clr-font: #fff;
  --clr-primary: #f8c1d3;
  --clr-boxshodow: 0 2px 5px 2px rgba(219, 219, 224, 0.2);
}

.light-theme {
  --clr-nav: linear-gradient(to right, #a023b9, #c8b6ff);
  --clr-bcg: rgb(255, 247, 247);
  --clr-font: #000000;
  --clr-primary: #000000;
  --clr-boxshodow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
}

.btn {
  padding: 8px 10px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--clr-primary);
  color: #242424;
  border: 1px solid var(--clr-primary);
}

.btn--outline {
  background-color: transparent;
  color: var(--clr-primary);
  padding: 8px 20px;
  border: 1px solid var(--clr-primary);
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--large:hover,
.btn--medium:hover {
  transition: all 0.3s ease-out;
  border: 1px solid var(--clr-primary);
  transition: 100ms;
}
