.userProfileBody {
  display: flex;
  justify-content: space-around;
}

.profileCard {
  display: flex;
  width: 480px;
  margin-right: 10%;
  margin-left: 10%;
}

.profileImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profileInfo {
  margin-right: 10%;
  margin-left: 10%;
}

.follower {
  margin-right: 10%;
  cursor: pointer;
}

.following {
  margin-right: 10%;
  margin-left: 10%;
  cursor: pointer;
}
