@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;

.dark-theme {
  --clr-bcg: #282c35;
  --clr-font: #fff;
  --clr-primary: #132faa;
}

.light-theme {
  --clr-bcg: rgb(255, 247, 247);
  --clr-font: #282c35;
  --clr-primary: #000000;
}

form.mapsearch__form {
  display: flex;
  flex-direction: row;
  font-family: 'Montserrat', sans-serif;
  margin: 5px auto 20px;
  padding: 0px;

  .MuiFormControl-root.mapsearch__input {
    width: 500px;
    margin: 2px;
  }
  .MuiFormControl-root.mapsearch__num {
    width: 200px;
    margin: 2px;
  }

  .mapsearch__btn {
    padding: 0px;
    background-color: var(--clr-bcg);
    color: black;
    font-weight: bold;
    border: none;
    margin-left: 5px;
    margin-top: 20px;
    border-radius: 5px;
    &:hover {
      color: red;
    }

    &:active {
      transform: scale(0.9);
    }

    .mapsearch__icon {
      color: var(--clr-primary);
    }
  }
}

.form__group2 {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  width: 50%;
}

.form__field2 {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 3px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  margin-bottom: 0px;
  padding: 20px 4px 8px;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label2 {
    &.title2 {
      font-size: 1.5rem;
      cursor: text;
      top: 20px;
    }
    &.context {
      font-size: 1.5rem;
      cursor: text;
      top: 12vh;
    }
  }

  &.context {
    height: 15vh;
  }
}

.form__label2 {
  position: absolute;
  top: 0px;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field2:focus {
  ~ .form__label2 {
    &.title {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: violet;
      font-weight: 700;
    }
    &.context {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: violet;
      font-weight: 700;
    }
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 5px;
  border-image: linear-gradient(to right, $primary, $secondary);
  border-image-slice: 10;
}
/* reset input */
.form__field2 {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}
