.register__container {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.register__form__wrapper {
  display: flex;
  flex-direction: column;
}
