button,
button:hover {
  outline: 0;
  border: 0;
}

.feed-btn-frame {
  display: none;
}

.feed-item:hover .feed-btn-frame {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 50%;
  z-index: 1;

  transform: translateX(-50%);

  width: 100%;
}

.feed-btn {
  text-align: center;
  text-decoration: none;

  padding: 8px 18px;
  display: inline-block;

  background-color: white;
  cursor: pointer;
}

.btn-left {
  border-radius: 10px 0 0 10px;
}

.btn-left:hover {
  background-color: rgba(245, 245, 245, 0.877);
}

.btn-text {
  margin-right: 10px;
}

.btn-right {
  color: white;
  border-radius: 0 10px 10px 0;
  background-color: red;
}

.btn-right:hover {
  background-color: rgb(197, 2, 2);
}
