.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  font-size: 3rem;
  background-color: rgba(14, 1, 13, 0.2);
}

.form-card {
  padding: 10px 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.img-card {
  display: flex;
  margin: 20px;
  width: 500px;
  height: 500px;
  border-radius: 40px;
}
.img-card-image {
  width: 500px;
  height: 500px;
  border-radius: 40px;
}

.title-input {
  height: 50px;
  background-color: white;
}

.content-input {
  height: 300px;
  background-color: white;
}

.img-list {
  background-color: white;
  padding: 20px 0px;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px auto;
  width: 70%;
}
.img-able-delete {
  display: flex;
  margin-right: 20px;
  position: relative;
  align-items: center;
  border: 1px solid lightgrey;
  cursor: pointer;
  transition: transform 250ms ease-in;
  -webkit-box-shadow: 13px 7px 9px 10px rgba(206, 206, 206, 0.93);
  box-shadow: 13px 7px 9px 10px rgba(206, 206, 206, 0.93);
  /* border: 4px solid black; */
}
.image-item {
  display: flex;
  justify-content: space-between;
  width: 50px;
  height: 50px;
  margin: 20px 40px;
  /* margin-left:20px; */
}

.imageupload {
  width: 100vw;
  height: 100vh;
}

.imageupload.active {
  width: 100vw;
  height: 100vh;
  background-color: gray;
  opacity: 0.9;
}
.text-div {
  display: flex;
  width: 50%;
  margin-top: 100px;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid black;
  float: right;
}
.input-tag {
  background: white;
  /* border: 1px solid #d6d6d6; */
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 5px 0;
}

.input-tag input {
  border: none;
  width: 100%;
}

.input-tag__tags {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}

.input-tag__tags li {
  align-items: center;
  background: #85a3bf;
  border-radius: 2px;
  color: white;
  display: flex;
  font-weight: 300;
  list-style: none;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px 10px;
}

.input-tag__tags li span {
  align-items: center;
  appearance: none;
  background: #333333;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-size: 12px;
  height: 15px;
  justify-content: center;
  line-height: 0;
  margin-left: 8px;
  padding: 0;
  transform: rotate(45deg);
  width: 15px;
}

.input-tag__tags li.input-tag__tags__input {
  background: none;
  flex-grow: 1;
  padding: 0;
}
.input-tag__tags li.input-tag__tags__input {
  background: none;
  flex-grow: 1;
  padding: 0;
}
.ButtonDeleteColorRed {
  color: red;
}
