:root {
  --clr-bcg: #fff;
  --clr-font: #282c35;
  --clr-primary: #5836d2;
}

.dark-theme {
  --clr-bcg: #282c35;
  --clr-font: #fff;
  --clr-primary: #ffa7c4;
}

.light-theme {
  --clr-bcg: rgb(255, 247, 247);
  --clr-font: #282c35;
  --clr-primary: #5836d2;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
.App {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background: var(--clr-bcg);
  color: var(--clr-font);
}

.app__wrapper {
  position: relative;
}

/* router body 부분 */
.body__wrapper {
  padding-top: 20px;
  padding-left: 100px;
}
