* {
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  margin: 160px auto 80px;
  font-size: 40px;
}

.info {
  text-align: center;
  font-size: 24px;
  margin: 20px 0;
}

ul {
  list-style: none;
}

.profileBox {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 10px auto;
  width: 90%;
  height: 70vh;
}

a {
  text-decoration: none;
}

.li {
  margin: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  height: 355px;
  border-radius: 20px;
  padding: 30px 64px;
  background-color: white;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
}

.li:hover {
  background-color: rgba(231, 190, 233, 0.411);
}

.li:active {
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
  transform: scale(0.99);
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.nickname {
  color: black;
  font-size: 24px;
  width: fit-content;
  height: fit-content;
  margin: 24px 0;
  padding: auto;
}

.icons {
  display: flex;
  justify-content: space-evenly;
}
