.modal {
  position: absolute;
  top: 15%;
  left: 35%;
  right: 35%;
  bottom: 15%;
  background-color: white;
  /* border: 1px solid gray; */
  border: 0;
  /* box-shadow: 0 0 3px gray; */
  border-radius: 10%;
}

.overLay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.body {
  display: flex;
  height: 95%;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.form {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgBox {
  width: 60%;
  margin: 20px;
}

.img {
  width: 180px;
  height: 180px;
  border: 4px solid black;
  border-radius: 50%;
  opacity: 0.2;
  margin: 10px;
  padding: 10%;
  background-size: cover;
}

.img2 {
  width: 180px;
  height: 180px;
  border: 0;
  border-radius: 50%;
  margin: 10px;
  background-size: cover;
}

.nicknameWrapper {
  display: flex;
  align-items: center;
}

.name {
  height: 40px;
}
.btnWrap {
  display: flex;
}

.btn {
  width: 100px;
  height: 40px;
  margin: 15px;

  padding: 0;
  font: inherit;
  background-color: transparent;
  cursor: pointer;

  color: black;
  border: 1px solid grey;
  border-radius: 15px;
}

.btn:hover {
  color: white;
  background-color: hotpink;
}
